mixin b-header(data)
  +b(`header`, data, `header`)&attributes(attributes)
    +e(`container`).container-fluid
      +b(`logo`, {e: `header`}, `a`)(href=$.pages.index.url title=$.config.project.name)
        +e(`img`, {}, `img`)(src=`img/detailing_plus_logo.png` alt=$.config.project.name)
      +e(`tel-list`, {}, `address`).icon-phone_icon
        +e(`tel-item`, {}, `a`)(href=`tel:+79269990176`) +7-926-999-01-76
      +e(`addr-list`, {}, `address`).icon-point_icon
        | Калужское ш., д.4, Сосенки, Московская обл.
    block