mixin b-header(data)
  +b(`header`, data, `header`)&attributes(attributes)
    +e(`container`).container-fluid
      +b(`logo`, {e: `header`}, `a`)(href=$.pages.index.url title=$.config.project.name)
        +e(`img`, {}, `img`)(src=`img/detailing_plus_logo.png` alt=$.config.project.name)
      +e(`tel-list`, {}, `address`).icon-phone_icon
        +e(`tel-item`, {}, `a`)(href=`tel:88008003884`) 8 800-800-38-84
      +e(`addr-list`, {}, `address`).icon-point_icon
        | Город Москва, поселение #[br.d-none.d-md-inline] Сосенское, деревня Сосенки, д.7
    block