.section {
  padding: rem(45) 0;

  &__title {
    font-weight: $font-weight-light;
    font-size: rem(31);
    letter-spacing: rem(-0.6);
    line-height: (52/42);
    text-align: center;
    margin: 0 0 30/42*1em;

    &--portfolio {
      margin-bottom: 1em;
    }

    &--advantages {
      margin-bottom: 1.75em;
    }
  }

  &__lead {
    color: rgba($body-color, 0.7);
    font-size: rem(18);
    text-align: center;
    margin: 0 0 30/18*1em;

    &--service {
      margin-bottom: 55/18*1em;
    }
  }

  &--bg-1 {
    background: #FAFAFA;
  }

  &--pt-lg {
    padding-top: 0;
  }

  @include media-breakpoint-up(md) {
    padding: rem(90) 0;

    &__title {
      font-size: rem(42);
    }

    &--pt-lg {
      padding-top: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    &--pt-lg {
      padding-top: rem(90);
    }
  }
}
